.board-container {
  margin-top: 16px;

  .board-controls-container {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;

    .start-button {
      background: lightgreen;
    }

    .stop-button {
      background: red;
    }

    .next-button {
      background: darkorange;
    }
  }
}
